<div *ngIf="showStep1" class="bot-main h-100">
  <div class="card card-design">
    <div class="card-body p-0">
      <div *ngIf="showStep2" class="step-2-animate top-part-design px-4 pt-3">
        <div class="ps-4 step-3-animate">
          <h5 class="card-title fw-bolder">IRIS</h5>
          <div class="d-flex mt-2">
            <h6 class="fw-bold mt-1">Hello</h6>
            <div class="ps-2">
              <img width="25" height="25" alt="Greetings" src="assets/icon/hand_wave_pro.svg">
            </div>
          </div>
          <p class="card-text mt-2">I am Iris, a Virtual Assistant.
            <br>
            How may I help you?
          </p>
        </div>

      </div>

      <div *ngIf="showStep3" class="step-3-animate robot-outer d-flex justify-content-center align-items-center">
        <svg style="height: 30px;color: white;" xmlns="http://www.w3.org/2000/svg" aria-hidden="true"
          focusable="false" data-prefix="fas" data-icon="robot" class="svg-inline--fa fa-robot fa-w-20" role="img"
          viewBox="0 0 640 512">
          <path fill="currentColor"
            d="M32,224H64V416H32A31.96166,31.96166,0,0,1,0,384V256A31.96166,31.96166,0,0,1,32,224Zm512-48V448a64.06328,64.06328,0,0,1-64,64H160a64.06328,64.06328,0,0,1-64-64V176a79.974,79.974,0,0,1,80-80H288V32a32,32,0,0,1,64,0V96H464A79.974,79.974,0,0,1,544,176ZM264,256a40,40,0,1,0-40,40A39.997,39.997,0,0,0,264,256Zm-8,128H192v32h64Zm96,0H288v32h64ZM456,256a40,40,0,1,0-40,40A39.997,39.997,0,0,0,456,256Zm-8,128H384v32h64ZM640,256V384a31.96166,31.96166,0,0,1-32,32H576V224h32A31.96166,31.96166,0,0,1,640,256Z" />
        </svg>
      </div>

      <div class="step-4-animate card mx-4 border-0 mb-3 card-height">
        <div *ngIf="showStep4" class="card-content mx-1 bg-body rounded">
          <div class="card-body mt-4">
            <div>
              <span>Frequently Asked Questions </span>
              <span class="question-color fw-bolder question-bg"> ? </span>
            </div>
            <div *ngIf="showStep5">
            <div *ngFor="let list of asyncQuesList" class="step-5-animate default-list mt-2">
              <div class="p-2 pe-0 d-flex">
                <div class="list-style-bg">
                  <div class="list-style"></div>
                </div>
                <div style="cursor: pointer;" class="ps-2">{{list}}</div>
              </div>
            </div>
            </div>
            <div *ngIf="showStep6" class="mt-4 step-6-animate">
              <div class="d-flex justify-content-center">
                <button type="button" class="btn-style">
                  <img height="25" width="25" alt="conversation" src="assets/icon/conversation.png">
                  <span class="ps-2">Start a New Conversation</span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div></div>
    </div>
  </div>
</div>
