@media (min-width: 576px) {
  .bot-main{
    margin-right: 2rem;
    float: right;
    margin-top: 1rem;
  }
}


.card-design{
  border-radius: .75rem !important;
  position: relative;
  width: 24rem;
  height: 540px;
}

@media (max-width: 576px) {
  .card-design{
    width: 100%;
  }
}


@keyframes fadeIn {
  from { opacity: 0; }
    to { opacity: 1; }
}

.card-height{
  height: 280px;
}

.top-part-design {
  background-color: #8a8785;
  color: white;
  background-image: linear-gradient(to bottom right, #F78D37, #FF6E00);
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .75rem .75rem 0rem 0rem;
  padding-bottom: 6.5rem;

}

.step-2-animate{
  animation: fadeIn 3s forwards;
}

.step-3-animate{
  animation: fadeIn 2s forwards;
}

.step-4-animate{
  animation: fadeIn 3s forwards;
}

.step-5-animate{
  animation: fadeIn 3s forwards;
}

.step-6-animate{
  animation: fadeIn 3s forwards;
}

.robot-outer{
  box-shadow: 0rem -0.25rem 0.75rem 0rem rgb(0 0 0 / 15%) !important;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  background-color: #FF7101;
  position: absolute;
  z-index: 2;
  top: 28%;
  left: 14%;
}

.question-color{
  color: #FF7101;
}

.question-bg{
  background-color: #FEF6E6;
  border-radius: 50%;
  padding: 0px 5px;
}

.default-list{
  border: 1px solid lightgrey;
  border-radius: 0.5rem;
  font-size: 0.75rem;
}

.list-style{
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #FF7101;
}

.list-style-bg{
  padding: 5px;
  border-radius: 50%;
  height: 20px;
  background-color: #FEF6E6;
}

.card-content{
  box-shadow: 0 0rem 0.5rem rgba(0,0,0,.15)!important;
  position: absolute;
  top: -21%;
  width: 100%;
  height: 340px;
}

.btn-style{
  border: 1px solid lightgray;
  border-radius: 1rem;
  padding: 5px 20px;
  background-color: white;
  box-shadow: 0rem 0.25rem 0.25rem 0rem rgb(0 0 0 / 6%) !important;
}

